<?xml version="1.0" ?>
<robot name="prbt" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--VIRTUAL JOINT: Purpose: this element defines a virtual joint between a robot link and an
                     external frame of reference (considered fixed with respect to the robot)-->
  <virtual_joint name="FixedBase" type="fixed" parent_frame="world" child_link="table" />

  <!-- robot manipulator -->
  <xacro:include filename="$(find prbt_moveit_config)/config/prbt_manipulator.srdf.xacro" />
  <xacro:prbt_manipulator prefix="prbt_"/>

  <!-- gripper disabled collisions -->
  <!-- <xacro:arg name="prefix" default="prbt_" />
  <xacro:include filename="$(find prbt_pg70_support)/config/pg70.srdf.xacro" /> -->

  <!-- add other disabled collisions here -->
  <!-- <disable_collisions link1="prbt_flange" link2="my_custom_gripper" reason="Adjacent" /> -->
</robot>
