<?xml version="1.0" ?>

<robot name="prbt" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- macro definition of pilz lwa -->
  <xacro:include filename="$(find prbt_support)/urdf/prbt_macro.xacro" />

  <!-- coloring from the stl file -->
  <material name="yellow">
    <color rgba="1 1 0 1"/>
  </material>

  <!-- coloring from the table -->
  <material name="grey">
    <color rgba="0.75 0.75 0.75 1"/>
  </material>

  <!-- instantiate the robot -->
  <xacro:prbt prefix="prbt_"/>

  <link name="table">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 -0.03"/>
      <geometry>
      <box size="0.6 1.2 0.05"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="pnoz">
    <visual>
      <origin rpy="1.5708 0 0" xyz="0 -0.5 0"/>
      <geometry>
        <mesh filename="package://prbt_default_application/urdf/meshes/PNOZ.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="yellow"/>
    </visual>
  </link>

  <link name="prbt_tcp"/>

  <joint name="table_joint" type="fixed">
    <parent link="table"/>
    <child link="prbt_base_link"/>
  </joint>

  <joint name="pnoz_joint" type="fixed">
    <parent link="table"/>
    <child link="pnoz"/>
  </joint>

  <!-- connect the added tcp and the flange with a joint -->
  <joint name="prbt_fixed_joint_tcp" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.05"/>
    <parent link="prbt_flange"/>
    <child link="prbt_tcp"/>
  </joint>

  <!-- add PG70 gripper with cuboid brackets of configurable size -->
  <!--
  <xacro:include filename="$(find prbt_pg70_support)/urdf/pg70.urdf.xacro" />
  <xacro:prbt_gripper gripper_name="prbt_gripper" parent="prbt_flange" />

  <xacro:include filename="$(find prbt_support)/urdf/simple_gripper_brackets.urdf.xacro" />
  <xacro:simple_gripper_brackets gripper_name="prbt_gripper" size_y="0.003" />
  -->

</robot>
